---
# Cairo University Faculty of Engineering
## Machine Learning
## Assignment 7
---

Please write your full name here

- **Name** : "Andrew Mushen"
- **BN** : 15

## **Reading data**

In [1]:
import pandas as pd
import numpy as np

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

# reading only the first 200 movies
movies_sample = movies.iloc[:200]

# reading only the first 200 users
User_sample = ratings[ratings['userId'] < 201]
#User_sample = User_sample.reset_index(drop=True)

## **Getting rid of unwatched movies & combining data**

In [2]:
# merging between movies and ratings based on the movies watched in both files
#combined_movies_data = pd.merge(User_sample, movies_sample, on='movieId')

combined_movies_data = pd.merge(User_sample, movies_sample, on='movieId')

# dropping times_stamps and genres columns
combined_movies_data = combined_movies_data.drop(
    ['timestamp', 'genres'], axis=1)


combined_movies_data

      userId  movieId  rating                             title
0          1        1     4.0                  Toy Story (1995)
1          5        1     4.0                  Toy Story (1995)
2          7        1     4.5                  Toy Story (1995)
3         15        1     2.5                  Toy Story (1995)
4         17        1     4.5                  Toy Story (1995)
...      ...      ...     ...                               ...
2137     191      148     5.0  Awfully Big Adventure, An (1995)
2138     191      155     4.0             Beyond Rangoon (1995)
2139     191      178     1.0       Love & Human Remains (1993)
2140     191      229     5.0       Death and the Maiden (1994)
2141     199      229     3.0       Death and the Maiden (1994)

[2142 rows x 4 columns]

## **Creating pivot table (CF tabel)**

In [3]:
# creating the CF tabel
rating_crosstab = combined_movies_data.pivot_table(
    values='rating', index='userId', columns='title', fill_value=0)
print("the Pivot_table size = (userIDs , movie titles) = ", rating_crosstab.shape)
rating_crosstab.head()

the Pivot_table size = (userIDs , movie titles) =  (180, 176)

title,Ace Ventura: When Nature Calls (1995),"Amazing Panda Adventure, The (1995)","American President, The (1995)",Angels and Insects (1995),Anne Frank Remembered (1995),Antonia's Line (Antonia) (1995),Apollo 13 (1995),Assassins (1995),"Awfully Big Adventure, An (1995)",Babe (1995),...,Unstrung Heroes (1995),Up Close and Personal (1996),"Usual Suspects, The (1995)",Vampire in Brooklyn (1995),Waiting to Exhale (1995),"Walk in the Clouds, A (1995)",Waterworld (1995),White Man's Burden (1995),White Squall (1996),Wild Bill (1995)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0,0.0,0,0,0,0.0,0.0,0,0.0,...,0,0.0,5.0,0,0,0.0,0.0,0,0,0
3,0.0,0,0.0,0,0,0,0.0,0.0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
4,0.0,0,0.0,0,0,0,0.0,0.0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
5,0.0,0,0.0,0,0,0,3.0,0.0,0,4.0,...,0,0.0,4.0,0,0,0.0,0.0,0,0,0
6,2.0,4,4.0,0,0,0,4.0,0.0,0,4.0,...,3,3.0,1.0,4,3,4.0,3.0,3,5,4

## **Adjusting the table for item_to_item similarity**

In [4]:
# transposing it to calculate the similarity matrix of item to item
user_ratings_to_movies = rating_crosstab.transpose()
print("transpose Pivot_tabel size = (movie titles , userIDs) = ",
      user_ratings_to_movies.shape)
user_ratings_to_movies.head()

transpose Pivot_tabel size = (movie titles , userIDs) =  (176, 180)

userId,1,3,4,5,6,7,8,9,11,12,...,191,192,193,194,195,196,197,198,199,200
title,,,,,,,,,,,,,,,,,,,,,
Ace Ventura: When Nature Calls (1995),0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
"Amazing Panda Adventure, The (1995)",0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"American President, The (1995)",0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
Angels and Insects (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Anne Frank Remembered (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## **Creating similarity matrix for the movies**

In [5]:
# importing the cosine_similarity function
from sklearn.metrics.pairwise import cosine_similarity

# calculating the cosine_similarity item to item
similarity_scores_movies = cosine_similarity(user_ratings_to_movies)
print("shape of the matrix is", similarity_scores_movies.shape)
print(similarity_scores_movies)

shape of the matrix is (176, 176)
[[1.         0.16657816 0.33700144 ... 0.13875846 0.11696329 0.11100677]
 [0.16657816 1.         0.23501216 ... 0.68599434 0.51399405 0.85749293]
 [0.33700144 0.23501216 1.         ... 0.19576351 0.34836373 0.27406892]
 ...
 [0.13875846 0.68599434 0.19576351 ... 1.         0.46829291 0.8       ]
 [0.11696329 0.51399405 0.34836373 ... 0.46829291 1.         0.59941492]
 [0.11100677 0.85749293 0.27406892 ... 0.8        0.59941492 1.        ]]

## **Saving the similarity values into a DataFrame**

In [6]:
# creating df with the movies titles and similarity
data_matrix_item = pd.DataFrame(
    data=similarity_scores_movies, index=user_ratings_to_movies.transpose().columns, columns=user_ratings_to_movies.transpose().columns)

# data_matrix_item.head()
data_matrix_item.shape

(176, 176)

## **Movie to Movie recomender**

In [7]:
# function that takes the name of the movie and the number of recommendations
def recommend_movies_similar_to_movie(movie, recomemnds=10):

    # catching the name of the movie and number of recommendations
    movie = movie
    number_of_recommendation = recomemnds

    # in data_matrix movie titles were set to be the indices
    # saving the indices means savng the mavie titles
    indices = data_matrix_item.loc[movie].nlargest(
        number_of_recommendation+1).index

    print("The recommended movies if u like '{}' are \n".format(movie))
    # looping over the indices and printing the recommended movies
    for idx, num in enumerate(indices):
        if idx > 0:
            print(num)

## **Recommending the movies similar to 'Toy Story (1995)'**

In [8]:
# recommending movies similar to ''Toy Story (1995)''
recommend_movies_similar_to_movie('Toy Story (1995)')

The recommended movies if u like 'Toy Story (1995)' are

Braveheart (1995)
Apollo 13 (1995)
Usual Suspects, The (1995)
Happy Gilmore (1996)
Die Hard: With a Vengeance (1995)
Seven (a.k.a. Se7en) (1995)
Babe (1995)
Waterworld (1995)
Batman Forever (1995)
Taxi Driver (1976)

## **Recommending the movies similar to 'Waiting to Exhale (1995)'**

In [9]:
# recommending movies similar to ''Waiting to Exhale (1995)''
recommend_movies_similar_to_movie('Waiting to Exhale (1995)')

The recommended movies if u like 'Waiting to Exhale (1995)' are

Before and After (1996)
Mighty Morphin Power Rangers: The Movie (1995)
Before the Rain (Pred dozhdot) (1994)
Bushwhacked (1995)
Cure, The (1995)
Georgia (1995)
Mad Love (1995)
Now and Then (1995)
Reckless (1995)
Three Wishes (1995)

## **Creating User Similarity Matrix**

In [10]:
# calculate the similarity matrix for the users
similarity_scores_user = cosine_similarity(user_ratings_to_movies.transpose())
similarity_scores_user.shape

# saving the unique userIDS
user_ids = np.unique(combined_movies_data["userId"])

# creating a dataframe where
# similarity matrix for useres is the data
# columns and indices are the user IDS
data_matrix_user = pd.DataFrame(
    data=similarity_scores_user, index=user_ids, columns=user_ids)

## **Fuction that retuns the Recommended movies for user**

In [11]:
def recommend_movies_for_user(userID, recommends=3, similar_users=5):

    #catching function args
    userID = userID
    number_of_similar_users = similar_users
    number_of_recommendation = recommends

    #counter to stop recommending
    counter = 0

    # save the ids of similar users
    indices = data_matrix_user.loc[userID].nlargest(number_of_similar_users+1).index

    print("the recommended movies for user {}".format(userID))

    # loop on those similar users
    #print(indices)
    
    for idx, num in enumerate(indices):
        # save all the movies that this user watched with high ratings
        movie_rec_user = rating_crosstab.loc[indices[idx]].nlargest(
            number_of_recommendation+1).index

        # lopp over those movies with high ratings
        for idx, num in enumerate(movie_rec_user):

            # check if the user have watched it or not (if user rated that movie or not)
            if (rating_crosstab[movie_rec_user[idx]].loc[userID] == 0) & (counter < number_of_recommendation):

                # if he haven't watched it recommend the movie
                print(movie_rec_user[idx])
                counter += 1

In [12]:
recommend_movies_for_user(userID=200, recommends=3)

the recommended movies for user 200
First Knight (1995)
Usual Suspects, The (1995)
Pocahontas (1995)